<ion-view title="Chamado enviado" id="page7">
  <ion-content padding="true" class="has-header">
    <h3 id="chamadoEnviado-heading1" style="color:#667BFF;text-align:center;">Pronto!</h3>
    <div id="chamadoEnviado-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Seu chamado já está disponível para avaliacão e será atendido em breve.</p>

      <p style="color:#000000;">Você pode acompanhar o status da requisicão na área Meus chamados.</p>

      <p style="color:#000000;">Obrigado por contribuir por uma Rural melhor! :)</p>
    </div>
  </ion-content>
</ion-view>